<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>33888432094-4f61hh6beip10cr3rk25piuqi87drhdu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.33888432094-4f61hh6beip10cr3rk25piuqi87drhdu</string>
	<key>API_KEY</key>
	<string>AIzaSyD5Gf94xZKWTDhOrY9t2N1LEQVU1to2V1E</string>
	<key>GCM_SENDER_ID</key>
	<string>33888432094</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bwaairplane</string>
	<key>PROJECT_ID</key>
	<string>airplane-8cc33</string>
	<key>STORAGE_BUCKET</key>
	<string>airplane-8cc33.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:33888432094:ios:0c005ae41c24e84668f74f</string>
</dict>
</plist>